* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;              
    justify-content: space-between; 
    align-items: center;         
    padding: 10px 20px;         
    background-color: #333;      
    color: white;                 
}


.logo, .login {
    width: 25%;
    text-align: center;           
}


.nav-links {
    width: 50%;
    display: flex;               
    justify-content: space-evenly; 
}

.nav-links a {
    text-decoration: none;       
    color: white;                 
    font-size: 16px;              
    padding: 8px 16px;           
    transition: background-color 0.3s; 
}

.nav-links a:hover {
    background-color: #555;       
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;  
        align-items: flex-start;   
    }

    .logo, .login {
        width: 100%;                
        text-align: left;           
    }

    .nav-links {
        width: 100%;                
        flex-direction: column;    
        align-items: flex-start;    
    }

    .nav-links a {
        padding: 10px 0;           
        width: 100%;                
        text-align: left;           
    }
}
