* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

#body1 {
  font-family: "Goldman", cursive;
  background-image: url(img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

 }

 #javascript {
  background-color: black;
 }
 
 #javascript2 
{color: white;}

nav {
  display: flex;
  width: 100vw;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: sticky
  
  
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

h1 {
  text-align: center;

}


 footer {color: #00a8c7; 
height: 5vh;
position: absolute;
bottom: 0;
left: 0;
width: 100vw;
text-align: center;

}

.javascript4 {
  position: absolute;
  right: 30%;
  width: 15%;
  top: 250px;
}

.javascript3 {
 position: absolute;
 right: 30%;

}

.java4 {
  position: absolute;
  color: white;
  top: 270px;
  left: 25%;
}

.javascript2
{ position: relative; top: 40px;
  color: white;
  font-size: 35px;
}

.php2

{
  position: absolute;
  right: 35%;
  margin-top: 100px;
  width: 200px;
  top: 160px;

}
.php3
{
  position: absolute;
  right: 20%;
  margin-top: 120px;
  width: 200px;

  

}
.sql4 
{  position: absolute;
  float: right;
  margin-top: 80px;
  width: 20%}

.sql1
  { position: relative; top: 40px;
    color: white;
    font-size: 35px;
}
.sql3
{ color: white;
  position: absolute;
  left: 2px;
  margin-top: 100px;
  width: 200px;
  top: 200px; }

  .sql2
{ color: white;
  position: absolute;
  left: 2px;
  margin-top: 80px;
  width: 200px;
  top: 200px; }

.sql5
{ background-color: black;}
.php4 
{ 
  position: relative;
  float: left;
  left: 5%;
  margin-top: 80px;
  width: 40%
  
}

.contact2 
{ position: relative;
  text-align: center;}
 
.contact3
{ position: relative;
  text-align: center;
}
.contact4
{ position: relative;
  text-align: center;}
.p3 {
 color: white;
 position: absolute;
 left: 25%;
 margin-top: 100px;
 width: 200px;
 top: 200px;
}

.bericht5
{font-size: 30px;}
r
.javascript3
{ 
  color: white;
  position: absolute;
  left: 2px;
  margin-top: 80px;
  width: 200px;
  top: 200px;
}

.class1 {
  position: absolute;
  right: 20px;
  margin-top: 100px;
  width: 200px;
}
main 
{   position: relative;
  margin-top: 5rem;
}

.index3 {
 position: absolute;
  right: 45%;
  margin-top: 80px;
  width: 200px;
  position: absolute;
  right: 30%;
}
#id1 { 
  position: relative;
  text-align: center;
  top: 120px;
  font-size: 700%;
  color: white;
  margin: auto;
  height: 20px;
}

.html {
  position: relative;
  float: left;
  margin-top: 10px;
  width: 40%;
}

.index4 {
  position: absolute;
  margin-top: 100px;
  width: 200px;
  right: 30%;
  font-weight: 700%;
  font-size: 15px;


  
}