h1 {font-weight: 700px; font-size: 24px; color: blue; font-style: italic;
}
h2 {font-weight: 700px; font-size: 20px; 
}
h3 {font-weight: 700px; font-size: 16px; color: teal
}
p { 
  color: #4D4D4D  
}
a {color: #8A2BE2
}

#paragraaf1 {
  font-weight: 700px;
}

a:link {
  color: #8A2BE2;
    text-decoration: none;
  }
header {
  border-radius: 30px;
  border-style: outset;
  border-width: 5px;
  border-color: gold;
  padding: 5px;
  border-left-width: 10px;
  background-image: url(img/gaming.jpeg );
  background-repeat: no-repeat;
  background-size: cover

}
article {  border-radius: 30px;
  border-style: outset;
  border-width: 5px;
  border-color: gold;
  padding: 5px;
  border-left-width: 10px;
  border-bottom-width: 10px;

}

.img1 {
  width: 100vw;
}

.img2 {
  width: 100vw;}
  
.img3 {
   width: 100vw;}

.img4 {
    width: 100vw;}

    .img5 {
      width: 100vw;}

 .img6 {
        width: 100vw;}